<div class="container">
  <div class="row">
    <h1>Despesas Orçamentárias - Prefeitura do Recife</h1>
  </div>
  <div class="row">
    <div id="dataset-description">
      <h2>Dataset Description</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Title</td>
            <td>Despesas Orçamentárias</td>
          </tr>
          <tr>
            <td>URI</td>
            <td><a href="http://dados.recife.pe.gov.br/dataset/despesas-orcamentarias">http://dados.recife.pe.gov.br/dataset/despesas-orcamentarias</a></td>
          </tr>
          <tr>
            <td>Keywords</td>
            <td>gestão, finanças</td>
          </tr>
          <tr>
            <td>Publication date</td>
            <td>2016-11-22</td>
          </tr>
          <tr>
            <td>Publisher</td>
            <td>EMPREL</td>
          </tr>
          <tr>
            <td>Creator</td>
            <td>EMPREL</td>
          </tr>
          <tr>
            <td>Contact point</td>
            <td>contato@opendata.com</td>
          </tr>
          <tr>
            <td>Period that the dataset covers</td>
            <td>2002 a 2010</td>
          </tr>
          <tr>
            <td>Spatial coverage</td>
            <td>Recife, Brazil</td>
          </tr>
          <tr>
            <td>Update frequency</td>
            <td>Semanalmente</td>
          </tr>              
          <tr>
            <td>Theme</td>
            <td>Finanças</td>
          </tr>
          <tr>
            <td>Language</td>
            <td>Português</td>
          </tr>
          <tr>
            <td>Date and time formats</td>
            <td>ISO 8601</td>
          </tr>
          <tr>
            <td>Current version</td>
            <td>1.0</td>
          </tr>
        </tbody>
      </table>
    </div>
         
  </div>

  <div class="row">
    <div id="dataset-distributions">
      <h2>Dataset Distributions</h2>
      <h3>CSV Distribution</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Title</td>
            <td>Distribuição CSV do conjunto de dados sobre Despesas Orçamentárias</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>Distribuição CSV do conjunto de dados de Despesas Orçamentárias do Recife</td>
          </tr>
          <tr>
            <td>Media type</td>
            <td>text/csv</td>
          </tr>
          <tr>
            <td>License</td>
            <td><a href="http://opendefinition.org/od/2.0/en/">Open Definition 2.0</a></td>
          </tr>
          <tr>
            <td>Publication date</td>
            <td>2016-11-21</td>
          </tr>
          <tr>
            <td>Last modification</td>
            <td>2016-11-21</td>
          </tr>
          <tr>
            <td>Download URL</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div id="info">
        <h4>Data Quality - CSV Distribution</h4>
        <table class="table table-striped">
        <tbody>
          <tr>
            <td><b>Completeness</b></td>
            <td></td>
          </tr>
          <tr>
            <td>Metric</td>
            <td></td>
          </tr>
          <tr>
            <td>Value</td>
            <td></td>
          </tr>
          <tr>
            <td><b>Availabity</b></td>
            <td></td>
          </tr>
          <tr>
            <td>Metric</td>
            <td></td>
          </tr>
          <tr>
            <td>Value</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h4>Structural metadata - CSV Distribution</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Campo</th>
              <th>Descrição</th>
              <th>Tipo</th>
              <th>Tamanho</th>
              <th>Valores Permitidos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ano_movimentacao</td>
              <td>Ano de Referência da Competência da Despesa</td>
              <td>Num</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <td>mes_movimentacao</td>
              <td>Mês de Referência da Competência da Despesa</td>
              <td>Data</td>
              <td>10</td>
              <td></td>
            </tr>
            <tr>
              <td>orgao_codigo</td>
              <td>Código do Órgão</td>
              <td>Num</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <td>orgao_nome</td>
              <td>Nome do Órgão</td>
              <td>Char</td>
              <td>100</td>
              <td></td>
            </tr>
            <tr>
              <td>unidade_codigo</td>
              <td>Código da Unidade Orçamentária</td>
              <td>Char</td>
              <td>5</td>
              <td></td>
            </tr>
            <tr>
              <td>unidade_nome</td>
              <td>Nome da Unidade Orçamentária</td>
              <td>Char</td>
              <td>100</td>
              <td></td>
            </tr>
            <tr>
              <td>categoria_economica_codigo</td>
              <td>Código da Categoria Econômica</td>
              <td>Num</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <td>categoria_economica_nome</td>
              <td>Nome da Categoria Econômica</td>
              <td>Char</td>
              <td>30</td>
              <td></td>
            </tr>
            <tr>
              <td>grupo_despesa_codigo</td>
              <td>Código do Grupo de Despesa</td>
              <td>Num</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <td>grupo_despesa_nome</td>
              <td>Nome do Grupo de Despesa</td>
              <td>Char</td>
              <td>35</td>
              <td></td>
            </tr>
            <tr>
              <td>modalidade_aplicacao_codigo</td>
              <td>Código da Modalidade de Aplicação</td>
              <td>Num</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <td>modalidade_aplicacao_nome</td>
              <td>Nome da Modalidade de Aplicação</td>
              <td>Char</td>
              <td>140</td>
              <td></td>
            </tr>
            <tr>
              <td>elemento_codigo</td>
              <td>Código do Elemento de Despesa</td>
              <td>Num</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <td>elemento_nome</td>
              <td>Nome do Elemento de Despesa</td>
              <td>Char</td>
              <td>80</td>
              <td></td>
            </tr>
            <tr>
              <td>subelemento_codigo</td>
              <td>Código do Subelemento de Despesa</td>
              <td>Num</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <td>subelemento_nome</td>
              <td>Nome do Subelemento de Despesa</td>
              <td>Char</td>
              <td>100</td>
              <td></td>
            </tr>
            <tr>
              <td>funcao_codigo</td>
              <td>Código da Função</td>
              <td>Num</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <td>funcao_nome</td>
              <td>Nome da Função</td>
              <td>Char</td>
              <td>30</td>
              <td></td>
            </tr>
            <tr>
              <td>subfuncao_codigo</td>
              <td>Código da Subfunção</td>
              <td>Num</td>
              <td>3</td>
              <td></td>
            </tr>
            <tr>
              <td>subfuncao_nome</td>
              <td>Nome da Subfunção</td>
              <td>Char</td>
              <td>60</td>
              <td></td>
            </tr>
            <tr>
              <td>programa_codigo</td>
              <td>Código do Programa</td>
              <td>Num</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <td>programa_nome</td>
              <td>Nome do Programa</td>
              <td>Char</td>
              <td>90</td>
              <td></td>
            </tr>
            <tr>
              <td>acao_codigo</td>
              <td>Código da Ação</td>
              <td>Num</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <td>acao_nome</td>
              <td>Nome da Ação</td>
              <td>Char</td>
              <td>200</td>
              <td></td>
            </tr>
            <tr>
              <td>fonte_recurso_codigo</td>
              <td>Código da Fonte de Recurso</td>
              <td>Num</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <td>fonte_recurso_nome</td>
              <td>Nome da Fonte de Recurso</td>
              <td>Char</td>
              <td>65</td>
              <td></td>
            </tr>
            <tr>
              <td>empenho_ano</td>
              <td>Ano de Empenho</td>
              <td>Num</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <td>empenho_modalidade_nome</td>
              <td>Código da Modalidade do Empenho</td>
              <td>Num</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <td>empenho_modalidade_codigo</td>
              <td>Nome da Modalidade do Empenho</td>
              <td>Char</td>
              <td>30</td>
              <td></td>
            </tr>
            <tr>
              <td>empenho_numero</td>
              <td>Número do Empenho</td>
              <td>Num</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <td>subempenho</td>
              <td>Parcela do Empenho(subempenho)</td>
              <td>Num</td>
              <td>3</td>
              <td></td>
            </tr>
            <tr>
              <td>indicador_subempenho</td>
              <td>Indicador se Possui Subempenho</td>
              <td>Char</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <td>credor_codigo</td>
              <td>Código do Credor</td>
              <td>Num</td>
              <td>10</td>
              <td></td>
            </tr>
            <tr>
              <td>credor_nome</td>
              <td>Nome do Credor</td>
              <td>Char</td>
              <td>150</td>
              <td></td>
            </tr>
            <tr>
              <td>modalidade_licitacao_codigo</td>
              <td>Código da Modalidade de Licitação</td>
              <td>Num</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <td>modalidade_licitacao_nome</td>
              <td>Nome da Modalidade de Licitação</td>
              <td>Char</td>
              <td>50</td>
              <td></td>
            </tr>
            <tr>
              <td>valor_empenhado</td>
              <td>Valor Liquidado</td>
              <td>Num</td>
              <td>16,2</td>
              <td></td>
            </tr>
            <tr>
              <td>valor_liquidado</td>
              <td>Valor Empenhado</td>
              <td>Num</td>
              <td>16,2</td>
              <td></td>
            </tr>
            <tr>
              <td>valor_pago</td>
              <td>Valor Pago</td>
              <td>Num</td>
              <td>16,2</td>
              <td></td>
            </tr>
            <tr>
              <td>moeda</td>
              <td>Tipo da Moeda</td>
              <td>Char</td>
              <td>30</td>
              <td></td>
            </tr>
          </tbody>
        </table>  
    </div>
    </div>

    <div class="row">
      <div id="dataset-versions">
        <h2>Dataset version history</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Version</th>
              <th>Issue date</th>
              <th>URI</th>
              <th>Change history</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.1</td>
              <td>2016-11-23</td>
              <td>b</td>
              <td>Ao conjunto de dados foi adicionado o período de 2011 até 2016 e também foi particionado de acordo com os anos devido o seu tamanho.</td>
            </tr>
          </tbody>
        </table>  
      </div>
    </div> 

    <div class="row">
      <div id="feedback">
        <h2>Feedbacks</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Comentários</th>
                <th>Avaliações</th>
                <th colspan="3"></th>
              </tr>
            </thead>
          
            <tbody>
              <% @comments = Comment.all %>
              <% @comments.each do |comment| %>
                <tr>
                  <td><%= comment.obs %></td>
                  <td><%= comment.rating %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= button_to 'Novo Feedback',new_comment_path, method: "get", class: "btn btn-sm btn-primary " %>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>
